.Button {
    font-size: 1rem;
    font-weight: bold;
    align-self: center;
    border-radius: 100px;
    background-color: #34b38a;
    border-color: #232931;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
}

.Button:hover {
    background-color: #38424f;
    border-color: transparent;
    cursor: pointer;
}

.Wide {
    padding: 10px 50px;
    width: 100%;
  }

.Bright {
    background-color: #76d7b8;
    color: #232931;
    
  }