.Form {
    border: none;
    border-bottom: 2px #76d7b8 solid;
  }
  
  .Button {
    border: none;
    background-color: #34b38a;
    color: aliceblue;
    border-radius: 100px;
    padding: 4px 10px;
    min-width: 75px;
    margin: 5px;
  }
  
  .Button:hover {
    cursor: pointer;
    background-color: #76d7b8;
    color: #0e1013;
  }