.Sale {
    background-color: #ffffff;
    border: 1px solid #76d7b8;
    box-shadow: 0 2px 4px #34b38a;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .Sale figure,
  h5 {
    margin: 0 0;
  }